<br><br>
<div class="container">
<%= form_for @band do |f| %>
<br>
  <%= f.label :name %>:
  <%= f.text_field :name %><br>
  
  <%= f.label :bio %>:
  <%= f.text_field :bio %><br>

  <%= f.label :location %>:
  <%= f.text_field :location %><br>
  
  <%= f.label :donate_link %>:
  <%= f.text_field :donate_link %><br>
  
  <%= f.label :website %>:
  <%= f.text_field :website %><br />

  <%= f.submit %>
<% end %>
</div>