<div class="container">
<p>You entered a new Band!</p>
<h1><%= @band.name %></h1><br>
<%= @band.location %>
<h2>Bio:</h2>
<p><%= @band.bio %></p>
<a href="<%= @band.website %>">Visit <%= @band.name %>'s website!</a><br>
<a href="<%= @band.donate_link %>">Donate to their charity</a><br>
</div>