<div class="container">
    <div class="band-img"></div>
<h1><%= @band.name %></h1><br>
<%= @band.location %>
<form>
              <fieldset>
               
                <span class="star-cb-group">
                  <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                  <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                  <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                  <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                  <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                  <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                </span>
              </fieldset>
            </form>
<h2>Bio:</h2>
<p><%= @band.bio %></p>
<a href="<%= @band.website %>">Visit <%= @band.name %>'s website!</a><br>
<a href="<%= @band.donate_link %>">Donate to their charity</a><br>
</div>